#pageHeader {
	padding-top: 8px;
	font-size: xx-large;
	background-color: deepskyblue;
	height: 75px;
	width: 65%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5%;
	text-align: center;
	border: 1px solid white;
}

#middleSection {
	height: 400px;
	width: 65%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5%;
}

#mainGameArea {
	height: 400px;
	background-color: deepskyblue;
	margin-right: 8%;
	border: 1px solid white;	
}

#currentWordArea {
	border: 1px solid white;
	height: 150px;
	text-align: center;
	padding-top: 55px;
	font-size: x-large;
}

#messageArea {
	border: 1px solid white;
	height: 150px;
	text-align: center;
	padding-top: 55px;
	font-size: x-large;
}

#guessedLettersArea {
	border: 1px solid white;
	height: 50px;
	text-align: center;
	padding-top: 12px;
}

#guessesRemainingArea {
	border: 1px solid white;
	height: 50px;
	text-align: center;
	padding-top: 12px;
}

#winsArea {
	height: 200px;
	background-color: deepskyblue;
	border: 1px solid white;
	text-align: center;
	padding-top: 80px;
	font-size: large;
}

#composersArea {
	height: 200px;
	background-color: deepskyblue;
	border: 1px solid white;
	text-align: center;
	font-size: large;
	padding-top: 40px;
}

body {
	background-color: dimgrey;
}